<?php

return [
    'cookieValidationKey' => 'r',
    'vkClientId' => '',
    'vkClientSecret' => '',
    'vkReturnUrl' => '',
    'mailerDsn' => '',
    'firebaseCredentialsPath' => '',
    'firebaseDatabaseUri' => '',
    'firebaseWebConfig' => [
        'apiKey' => '',
        'authDomain' => '',
        'databaseURL' => '',
        'projectId' => '',
        'appId' => '',
    ],
    'siteUrl' => '',
];
